mixin b-gov()

  .modal.fade#modalGov(tabindex="-1" role="dialog" aria-hidden="true")
    .modal-dialog.modalGov(role="document")
      .wrap
        ul.wrap-link
          li
            a(href="https://www.president.gov.ua/" target="_blank" rel="nofollow") Президент України
          li
            a(href="https://rada.gov.ua/" target="_blank" rel="nofollow")  Верховна Рада України

        ul.wrap-link
          li
            a(href="http://www.ccu.gov.ua/" target="_blank" rel="nofollow") Конституційний суд України
          li
            a(href="http://www.rnbo.gov.ua/" target="_blank" rel="nofollow") Рада національної безпеки і оборони України
        ul.wrap-link
          li
            a(href="index.html" target="_blank") Центральні та місцеві органи виконавчої влади

        button.close(type="button" data-dismiss="modal" aria-label="Close")
  // end .b-modal-gov
  |
  |
