.pagination {
  display: flex;
  border-radius: 4px;
  border: 1px solid #dde1e6;
  position: relative;
  margin-bottom: 0;
  @include list-unstyled();
  @include border-radius();

  li {
    &:first-child {
      position: absolute;
      left: 0;
      top: 0;
      a {
        margin-left: 3px;
        padding-top: 0;
        padding-bottom: 0;
        line-height: 46px;
        margin-bottom: 0;
      }
    }
    &:last-child {
      position: absolute;
      right: 0;
      top: 0;
      a {
        padding-top: 0;
        padding-bottom: 0;
        line-height: 46px;
        margin-bottom: 0;
        margin-right: 3px;
      }
    }

    &.active a,
    &.active span {
      z-index: 1;
      color: #3b4256;
    }

    &.disabled a,
    &.disabled span {
      color: $pagination-disabled-color;
      pointer-events: none;
      // Opinionated: remove the "hand" cursor set previously for .page-link
      cursor: auto;
      background-color: $pagination-disabled-bg;
      border-color: $pagination-disabled-border-color;
    }

    @include media-breakpoint-down(sm) {
      &:first-child {
        position: relative;
        .page-link {
        }
      }
      &:last-child {
        position: relative;
        right: auto;
      }
    }
  }

  a {
    position: relative;
    display: block;
    padding: 13px 14px;
    margin-left: 10px;
    margin-right: 10px;
    line-height: 1.26;
    background-color: $pagination-bg;
    color: #848e99;
    font-size: 1rem;
    font-weight: 600;
    border-bottom: 2px solid transparent;

    .ic {
      fill: #dde1e6;
      transition: all .3s;
    }

    &:hover {
      z-index: 2;
      color: #3b4256;
      text-decoration: none;
      border-color: #0c49cd;
      .ic {
        fill: #3b4256;
      }
    }

    &:focus {
      z-index: 2;
      outline: $pagination-focus-outline;
      box-shadow: $pagination-focus-box-shadow;
    }

    // Opinionated: add "hand" cursor to non-disabled .page-link elements
    &:not(:disabled):not(.disabled) {
      cursor: pointer;
    }

    @include media-breakpoint-down(sm) {
      margin-left: 5px;
      margin-right: 5px;
    }
  }

}



//
// Sizing
//

.pagination-lg {
  @include pagination-size($pagination-padding-y-lg, $pagination-padding-x-lg, $font-size-lg, $line-height-lg, $border-radius-lg);
}

.pagination-sm {
  @include pagination-size($pagination-padding-y-sm, $pagination-padding-x-sm, $font-size-sm, $line-height-sm, $border-radius-sm);
}
