extends _template.pug

include ../components/b-accessibility/b-accessibility

block head
  head
    +head(head.defaults)

block content

  main.l-content
    .container
      .row
        .col-xs-12

          .section-default.text-center
            h1 Перелік сторінок
            ul.list-page.list-unstyled(style="text-align: left;")
              li
                a.text-success(href="home.html" target="_blank") Головна
              li
                a.text-success(href="home.html" target="_blank")
              li
                a.text-success(href="home.html" target="_blank")
              li
                a.text-success(href="home.html" target="_blank")
              li
                a.text-success(href="ui.html" target="_blank") UI
              li
                a.text-success(href="home.html" target="_blank")
              li
                a.text-success(href="home.html" target="_blank")
              li
                a.text-success(href="home.html" target="_blank")
              li
                a.text-success(href="home.html" target="_blank")
              li
                a.text-success(href="home.html" target="_blank")
              li
                a.text-success(href="home.html" target="_blank")
              li
                a.text-success(href="home.html" target="_blank")
              li
                a.text-success(href="home.html" target="_blank")

  .page__buffer
