extends _template.pug

include ../components/b-brand/b-brand
include ../components/b-plan/b-plan
include ../components/b-reestr/b-reestr

block head
  head
    +head(head.home)
  |
  |


block header
  +header('headerMain', '', '', '', 'userLogin')

block content
  main.l-main-content

    +b-plan()

    +b-reestr()

    section.section-default
      .container
        .row
          .col
            h2.ui-title Корисні посилання
        .row.b-brand-group
          .col-lg-4.col-md-6
            +b-brand('1', 'Верховна Рада України')
          .col-lg-4.col-md-6
            +b-brand('2', 'Президент України')
          .col-lg-4.col-md-6
            +b-brand('1', 'Кабінет Міністрів України')
          .col-lg-4.col-md-6
            +b-brand('3', 'Донецька ОДА')
          .col-lg-4.col-md-6
            +b-brand('4', 'Єдиний державний веб-портал відкритих даних')
          .col-lg-4.col-md-6
            +b-brand('5', 'Міністерство охорони здоров’я України')



  // end .main-content
  |
  |


block scripts
  // Input effects
  script(src="https://cdnjs.cloudflare.com/ajax/libs/classie/1.0.1/classie.js")
