mixin b-welcome()

  section.b-welcome.row(class!=attributes.class)
    .col-xl-auto
      .b-welcome__second
        .b-welcome__img
          img.img-scale(src="assets/media/content/b-welcome/1.jpg", alt="foto")
        span.b-welcome__name Руслан Требушкин
    .col-xl
      .b-welcome__main
        h2.b-welcome__title За ініціативою покровського<br>міського голови
        .b-welcome__info Вітаємо Вас на веб-порталі, який розроблений для того, щоб зробити роботу максимально прозорою та відкритою для вступу дітей до шкільного навчального закладу нашого міста та в реалізації конституційного права на отримання освіти. Тут ви можете ознайомитись з усіма етапами процедури  та дізнатися статус черги»
  // end .b-welcome
  |
  |
