.b-welcome {
  margin-top: 50px;
  color: #f4f7fb;
  margin-left: -30px;
  margin-right: -80px;
  padding-bottom: 20px;
  &__main {
    padding-left: 20px;
  }
  &__title {
    font-size: 2rem;
    font-weight: 700;
    line-height: 2.5rem;
    letter-spacing: -0.025rem;
  }
  &__info {
    padding-top: 10px;
    line-height: 1.5;
  }
  &__second {
    text-align: center;
    width: 250px;
  }
  &__img {
    width: 160px;
    height: 160px;
    margin-bottom: 22px;
    display: inline-block;
    overflow: hidden;
    border-radius: 50%;
    box-shadow: 0 0.75rem 1.25rem rgba(0, 0, 0, 0.2);
  }
  &__name {
    display: block;
    font-size: 1.125rem;
    margin-bottom: 5px;
    &:before {
      content: '';
      margin-bottom: 16px;
      width: 100%;
      height: 1px;
      display: block;
      background: linear-gradient(to right, #315efb 50%,#f8e71c 50%,#f8e71c 50%);
    }
  }
  &__categorie {
    display: block;
    color: #848e99;
    font-size: 0.875rem;
  }


  @include media-breakpoint-down(lg) {
    margin-left: 0;
    margin-right: 0;
    &__title,
    &__info {
      padding-left: 17px;
      padding-right: 10px;
    }
    &__info {
      margin-left: 0;
    }
    &__title {
      margin-bottom: 0;
    }
    &__main {
      padding-left: 0;
    }
    &__second {
      width: 254px;
      margin-top: 20px;
      margin-left: auto;
      margin-right: auto;
    }
  }
}
