mixin footer()
  footer.footer
    .container
      .row
        .col-md-4
          .footer-main
            .footer-logo
              span.footer-logo__item
                a.footer-logo__link(href="#")
                  img.ic.img-fluid(src="assets/media/general/logo-region.png", alt="Герб")

            .footer__title Онлайн планування завдань
            .footer__subtitle Покровська міска рада
            a.footer__btn.btn(href="#") Зворотній зв'язок

        .col-md-4
          .footer-section
            ul.footer-list.list-unstyled
              li.footer-list__item
                a.footer-list__link(href="#") Головна
              li.footer-list__item
                a.footer-list__link(href="#") Статистика
              li.footer-list__item
                a.footer-list__link(href="#") Департаменти
              li.footer-list__item
                a.footer-list__link(href="#") Таймлайн
              li.footer-list__item
                a.footer-list__link(href="#") Мої завдання
        .col-md-4
          .footer-section
            ul.footer-list.list-unstyled
              li.footer-list__item
                a.footer-list__link(href="#") Про проект
              li.footer-list__item
                a.footer-list__link(href="#") Карта сайту
              li.footer-list__item
                a.footer-list__link(href="#") Реєстрація
              li.footer-list__item
                a.footer-list__link(href="#") Відділ підтримки


      .footer-bottom
        .row.align-items-center
          .col-md-4
            .footer-devel
              a.footer-devel__img(href="#")
                img(src="assets/media/general/logo-bisoft.png", alt="«БІС-СОФТ»")
              .footer-devel__text Компанія «БІС-СОФТ»<br>Всі права захищені.

          .col-md
            .footer-copyright
              != pugHelpers.Icon.call(locals, {iconName: 'creative-commons', className: 'ic', iconWidth: '30', iconHeight: '30'})
              .footer-copyright__info Всі матеріали сайту доступні за ліцензією: Creative Commons «Attribution» 4.0 Всесвітня

          .col-md-auto
            +b-soc-link()
