mixin b-modal-alerts-danger()

  .modal.fade#alert1(tabindex="-1" role="dialog" aria-hidden="true")
    .modal-dialog.modal-dialog-centered(role="document")
      .b-modal-alerts.modal-content.bg-danger
        .text-center
          != pugHelpers.Icon.call(locals, {iconName: 'warning', className: 'ic', iconWidth: '50', iconHeight: '50'})
          .b-modal-alerts__title Підтвердження реєстрації
        .b-modal-alerts__info
          p З метою безпеки ми відправили Вам на пошту лист, з підтвердженням реєстрації. Перевірте свою поштову скриньку.
          p Ваша особиста інформація конфедеціальность і захищена.

        button.close(type="button" data-dismiss="modal" aria-label="Close")
          span(aria-hidden="true") &times;

  // end .b-modal-alerts
  |
  |

mixin b-modal-alerts-success()

  .modal.fade#alert2(tabindex="-1" role="dialog" aria-hidden="true")
    .modal-dialog.modal-dialog-centered(role="document")
      .b-modal-alerts.modal-content.bg-success
        .text-center
          != pugHelpers.Icon.call(locals, {iconName: 'warning', className: 'ic', iconWidth: '50', iconHeight: '50'})
          .b-modal-alerts__title Зміна паролю
        .b-modal-alerts__info
          p Протягом декількох хвилин Ви отримаєте лист з інструкціями по скиданню Вашого паролю.

        button.close(type="button" data-dismiss="modal" aria-label="Close")
          span(aria-hidden="true") &times;

  // end .b-modal-alerts
  |
  |

mixin b-modal-alerts-warning()

  .modal.fade#alert3(tabindex="-1" role="dialog" aria-hidden="true")
    .modal-dialog.modal-dialog-centered(role="document")
      .b-modal-alerts.modal-content.bg-warning
        .text-center
          != pugHelpers.Icon.call(locals, {iconName: 'warning', className: 'ic', iconWidth: '50', iconHeight: '50'})
          .b-modal-alerts__title Підтвердження реєстрації
        .b-modal-alerts__info
          p З метою безпеки ми відправили Вам на пошту лист, з підтвердженням реєстрації. Перевірте свою поштову скриньку.
          p Ваша особиста інформація конфедеціальность і захищена.

        button.close(type="button" data-dismiss="modal" aria-label="Close")
          span(aria-hidden="true") &times;

  // end .b-modal-alerts
  |
  |


mixin b-modal-alerts-light()

  .modal.fade#alert4(tabindex="-1" role="dialog" aria-hidden="true")
    .modal-dialog.modal-dialog-centered(role="document")
      .b-modal-alerts.modal-content.bg-light
        .text-center
          != pugHelpers.Icon.call(locals, {iconName: 'warning', className: 'ic', iconWidth: '50', iconHeight: '50'})
          .b-modal-alerts__title Підтвердження реєстрації
        .b-modal-alerts__info
          p З метою безпеки ми відправили Вам на пошту лист, з підтвердженням реєстрації. Перевірте свою поштову скриньку.
          p Ваша особиста інформація конфедеціальность і захищена.

        button.close(type="button" data-dismiss="modal" aria-label="Close")
          span(aria-hidden="true") &times;

  // end .b-modal-alerts
  |
  |

