.b-plan {
  position: relative;
  z-index: 1;
  &__title {}
  &__subtitle {
    color: #848e99;
    font-size: 1.125rem;
    font-weight: 600;
    position: relative;
    bottom: -40px;
  }
  &__group {
    padding-right: 50px;
    margin-bottom: 90px;
  }
  &__item {
    padding-top: 12px;
    padding-right: 30px;
  }
  &__label {
    color: #848e99;
    font-size: 1.125rem;
    font-weight: 600;
    display: block;
    margin-bottom: 5px;
    text-align: center;
  }
  &__numbers {
    text-align: right;
    display: block;
  }
  &__numbers-main {
    font-size: 4.5rem;
    font-weight: 700;
    letter-spacing: -0.056rem;
    line-height: 1;
    display: inline-block;
    vertical-align: top;
  }
  &__numbers-inner {
    display: inline-block;
    vertical-align: top;
    text-align: center;
  }
  &__numbers-change {
    color: #f4f7fb;
    display: inline-block;
    min-width: 37px;
    border-radius: 2px;
    height: 1rem;
    line-height: 1rem;
    padding-left: 3px;
    padding-right: 3px;
  }
  &__numbers-old {
    color: #848e99;
    font-size: 1.125rem;
    font-weight: 600;
    display: block;
    line-height: 1;
  }

  @include media-breakpoint-down(md) {
    &__group {
      padding-right: 0;
      margin-bottom: 50px;
      text-align: center;
    }
    &__item {
      padding-right: 0;
      padding-top: 55px;
    }
    &__numbers {
      text-align: center;
      display: inline-block;
    }
    &__title {
      margin-bottom: 0;
    }
    &__subtitle {
      bottom: 0;
    }
  }
}



.b-plan-info {
  position: relative;
  padding-bottom: 90px;
  &__fig {
    position: absolute;
    left: -30px;
    bottom: -15px;
  }
  &__text {
    color: #848e99;
    font-size: 1.125rem;
    line-height: 1.625rem;
    margin-bottom: 10px;
    padding-top: 20px;
  }
  .btn {
    text-align: left;
    padding-left: 16px;
    padding-right: 8px;
    width: 260px;
  }

  @include media-breakpoint-down(md) {
    padding-bottom: 0;
    &__fig {
      position: relative;
      left: 0;
      width: 100%;
      margin-top: 30px;
      text-align: center;
    }
  }
}
