mixin b-plan()

  section.b-plan.section-default(class!=attributes.class)
    .container
      .row
        .col-lg-auto
          h2.b-plan__title.ui-title Планування на місяц у цифрах
        .col-lg-auto
          .b-plan__subtitle минулого місяця
      .b-plan__group.row
        .col-lg-3
          .b-plan__item
            span.b-plan__label Поставлено завдань
            span.b-plan__numbers
              span.b-plan__numbers-main 1547
              span.b-plan__numbers-inner
                span.b-plan__numbers-change.bg-green +49
                span.b-plan__numbers-old 1499
        .col-lg-3
          .b-plan__item
            span.b-plan__label Виконується
            span.b-plan__numbers
              span.b-plan__numbers-main 389
              span.b-plan__numbers-inner
                span.b-plan__numbers-change.bg-green +313
                span.b-plan__numbers-old 76
        .col-lg-3
          .b-plan__item
            span.b-plan__label Виконано
            span.b-plan__numbers
              span.b-plan__numbers-main 24
              span.b-plan__numbers-inner
                span.b-plan__numbers-change.bg-red -8
                span.b-plan__numbers-old 32
        .col-lg-3
          .b-plan__item
            span.b-plan__label Користувачів онлайн
            span.b-plan__numbers
              span.b-plan__numbers-main 5

      .b-plan-info.row
        .col-xl-4.offset-xl-3.col-lg-5.offset-lg-4
          .b-plan-info__text Ви можете додати нове завдання або внести в план роботи прямо зараз. Опишіть суть доручення, додайте особу або підрозділ, що мають його виконати.
          a.btn.btn-primary(href="#") Створити нове завдання
            != pugHelpers.Icon.call(locals, {iconName: 'keyboard-arrow', className: 'ic ic-rot_180', iconWidth: '24', iconHeight: '24'})
        .b-plan-info__fig
          img.img-fluid(src="assets/media/content/b-plan/fig-1.png", alt="foto")

  // end .b-plan
  |
  |
