include ../navig/navig
include ../b-soc-link/b-soc-link
include ../b-accessibility/b-accessibility
include ../b-welcome/b-welcome

mixin header(headerMain, alert, breadcrumb, lastLink, userLogin)

  .header-top-group
    header.header(class!=attributes.class)
      .header__inner
        .header-top
          .container-fluid
            .row
              .col-12
                .header__gov.d-none.d-lg-inline-block
                  a.gov-logo.gov-logo-dark(data-toggle="modal" href="#modalGov")
                    .icon-flag
                      .yellow
                      .blue
                    .wrap-text
                      span.one gov.ua
                      span.light Державні сайти України

                .header-logo.d-lg-none
                  .header-logo__item
                    a.header-logo__link(href="#")
                      img.img-fluid(src="assets/media/general/logo-region.png", alt="Герб")

                +b-soc-link(class="d-none d-lg-block")

                .header-top__title-mobile Онлайн планування завдань


                .header-top__inner

                  button.navbar-toggler.d-lg-none(type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Переключити навігацію")
                    != pugHelpers.Icon.call(locals, {iconName: 'menu', className: 'ic', iconWidth: '30', iconHeight: '30'})

                  a.header__accessibility(data-toggle="collapse" href="#wcag-panel" role="button" aria-expanded="false")
                    != pugHelpers.Icon.call(locals, {iconName: 'hide', className: 'ic', iconWidth: '35', iconHeight: '35'})


                  .header-user.dropdown.d-none.d-lg-inline-block
                    a.header-user__link.dropdown-toggle#dropdownUser(data-toggle="dropdown" href="#" role="button" aria-haspopup="true" aria-expanded="false")
                      != pugHelpers.Icon.call(locals, {iconName: 'user-big', className: 'ic', iconWidth: '30', iconHeight: '30'})
                      if userLogin
                        | Рева О. О.
                      else
                        | Вхід

                    .header-user__body.dropdown-menu.dropdown-menu-right(aria-labelledby="dropdownUser")
                      .header-user__content
                        if userLogin
                          .header-user__img
                            img.img-scale(src="assets/media/content/header/header-user.jpg", alt="foto")
                          .header-user__inner
                            .header-user__title Рева
                              span.header-user__subtitle Олександр Олександрович
                            a.header-user__btn.btn.btn-default(href="#") Налаштування
                            a.header-user__btn.btn.btn-default(href="#") Вихiд
                        else
                          .header-user__links
                            .header-user__links-item
                              a.header-user__links-nav(href="#") Вхiд
                            .header-user__links-item
                              a.header-user__links-nav(href="#") Реєстрація
                    // end .header-user
                    |
                    |

        // end .header-top
        |
        |

        +b-accessibility()

        if alert
          .container
            .row
              .col-12
                .alert-container
                  .alert.alert-success.alert-dismissible.fade.show(role="alert")
                    != pugHelpers.Icon.call(locals, {iconName: 'warning', className: 'ic', iconWidth: '30', iconHeight: '30'})
                    | Протягом декількох хвилин Ви отримаєте лист з інструкціями по скиданню Вашого паролю.
                    button.close(type="button" data-dismiss="alert" aria-label="Close")
                      span(aria-hidden="true")
                        != pugHelpers.Icon.call(locals, {iconName: 'close', className: 'ic-close', iconWidth: '30', iconHeight: '30'})
          // end .alert


        .header-main
          .collapse.navbar-collapse.d-lg-block#navbarSupportedContent
            .container
              .row
                .col-12
                  .header-main__inner
                    if headerMain
                      .row.align-items-end.justify-content-between
                        .col-xl-6.col-lg
                          .header__gov.d-lg-none
                            a.gov-logo.gov-logo-dark(data-toggle="modal" href="#modalGov")
                              .icon-flag
                                .yellow
                                .blue
                              .wrap-text
                                span.one gov.ua
                                span.light Державні сайти України

                          .header-title
                            .header-title__item
                              a.header-title__link(href="#")
                                img.img-fluid(src="assets/media/general/logo-region.png", alt="Герб")
                              .header-title__inner
                                .header-title__main Онлайн планування завдань
                                .header-title__subtitle Покровська міська рада

                        .col-xl-6.col-lg-auto
                          nav.header-nav.navbar.navbar-expand-lg
                            +navig()

                        .col-12.d-lg-none

                          .header-user.dropdown
                            a.header-user__link.dropdown-toggle#dropdownUserMob(data-toggle="dropdown" href="#" aria-haspopup="true" aria-expanded="false")
                              != pugHelpers.Icon.call(locals, {iconName: 'user-big', className: 'ic', iconWidth: '30', iconHeight: '30'})
                              | Рева О. О.
                            .header-user__body.dropdown-menu.dropdown-menu-right(aria-labelledby="dropdownUserMob")
                              .header-user__content
                                if userLogin
                                  .header-user__img
                                    img.img-scale(src="assets/media/content/header/header-user.jpg", alt="foto")
                                  .header-user__inner
                                    .header-user__title Рева
                                      span.header-user__subtitle Олександр Олександрович
                                    a.header-user__btn.btn.btn-default(href="#") Налаштування
                                    a.header-user__btn.btn.btn-default(href="#") Вихiд
                                else
                                  .header-user__links
                                    .header-user__links-item
                                      a.header-user__links-nav(href="#") Вхiд
                                    .header-user__links-item
                                      a.header-user__links-nav(href="#") Реєстрація
                            // end .header-user
                            |
                            |


                          +b-soc-link()

                        button.navbar-toggler.d-lg-none(type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Закрити навігацію")
                          != pugHelpers.Icon.call(locals, {iconName: 'close', className: 'ic', iconWidth: '30', iconHeight: '30'})

      // end .header
      |
      |

    if headerMain
      .header-top-group__sections.container
        .row
          .col-xl-7.col-lg-6
            .header-slogan
              .header-slogan__title Планувати завдання та керувати ресурсами — це легко
              .header-slogan__info Отримайте максимальну користь від своїх пiдлеглих та з легкістю керуйте завданнями, відстежуйте ефективність Ваших фахівців та автоматизуйте процеси контролю з реализації доручень
              a.header-slogan__link.btn.btn-primary(href="#") Увійти
              a.header-slogan__link.btn.btn-white(href="#") Зареєструватись
            +b-welcome()

          .header__figure-wrap.col-xl-5.col-lg-6


            picture.header__figure
              source(srcset="assets/media/content/header/fig-1_mob.png" media="(max-width: 992px)")
              img.img-fluid(src="assets/media/content/header/fig-1.png" alt="foto")


  if breadcrumb

    .container
      nav(aria-label="breadcrumb")
        ol.breadcrumb
          li.breadcrumb-item
            a(href="#") Головна
          li.breadcrumb-item.active(aria-current="page")= lastLink
    // end .breadcrumb
    |
    |
