// html:not([data-fontsize="normal"]) {
//   .b-invest-nav__list,
//   .header_inner-page .header-title {
//     display: block;
//   }
//   .b-invest-info__main,
//   .header .soc-link,
//   .header-search {
//     display: none !important;
//   }
//   .b-invest-nav__item {
//     width: 23%;
//     vertical-align: top;
//     margin-bottom: 20px;
//     display: inline-block;
//   }
//   .b-project-list__title,
//   .b-job-f-list__title {
//     width: 100%;
//     float: none;
//     margin-bottom: 5px;
//   }
//   .b-project-list__info,
//   .b-job-f-list__info {
//     margin-left: 0;
//     margin-bottom: 10px;
//   }
//   .b-job-f-list__info {
//     margin-bottom: 30px;
//   }
//   .b-project__contacts,
//   .b-project__title {
//     height: auto;
//   }
//   .b-post_row .b-post__title,
//   .b-post_row .b-post__info {
//     max-width: 100%;
//   }
//   .header-slogan__link,
//   .b-login .btn {
//     width: auto;
//   }
//   .header-slogan__link {
//     margin-bottom: 10px;
//   }
//   .b-map-filter {
//     width: 430px;
//   }
//   .navbar-expand-lg .navbar-nav {
//     margin-left: 0;
//     display: block;
//   }
//   .b-login {
//     max-width: 100%;
//   }
//   .ui-input__label-content {
//     line-height: 1;
//   }
//   .ui-input {
//     padding-bottom: 100px;
//   }
// }

// html[data-fontsize="big"] {
//   font-size: 1.5rem;
// }

// html[data-fontsize="large"] {
//   font-size: 2rem;
// }




// html[data-color="white"] {
//   body,
//   .header .soc-link__link,
//   .gov-logo-dark .wrap-text .one,
//   .header__regions-trigger,
//   .b-invest-info__number,
//   .b-invest-info__info,
//   .header:not(.header_inner-page) .header-title__subtitle,
//   .header-slogan__title,
//   .b-invest-nav__info,
//   .b-welcome__categorie,
//   .b-project__inner,
//   .text-red,
//   .text-orange,
//   .ui-meta,
//   .footer__title,
//   .footer,
//   .footer .soc-link__link,
//   .header-news__title,
//   .header-slogan,
//   .b-post_row .b-post__info,
//   .header:not(.header_inner-page) .header-title__main,
//   .b-project_map .b-project__title,
//   .b-project_map .b-project-list,
//   .b-modal-regions__note,
//   .b-modal-regions__title,
//   .b-modal-regions__nav .nav-link,
//   .b-modal-regions .close,
//   .b-modal-regions__form-search input,
//   .btns-switch__item.active,
//   .gov-logo-light .wrap-text .light, .gov-logo-dark .wrap-text .light,
//   .b-card__title,
//   .b-card-descrip__title,
//   .b-link-files__title,
//   .b-card__note,
//   .breadcrumb-item.active,
//   .b-invest-info__footer,
//   .b-invest-info__total,
//   .b-investors__contact-link .ic,
//   .b-investors-list__title,
//   .b-invest-info__note,
//   .b-job__point,
//   .b-job-list__title,
//   .b-job-f-list__title,
//   .ui-upload__label,
//   .ui-input__label-content,
//   .b-login__note {
//     color: #555 !important;
//   }

//   .footer,
//   .header:not(.header_inner-page),
//   .b-project__inner,
//   .b-invest-nav__item,
//   .b-brand__inner,
//   .ui-accordion__link[aria-expanded="false"],
//   .custom-checkbox .custom-control-label::before,
//   .noUi-tooltip,
//   .b-modal-regions__main,
//   .b-post-f__blockquote,
//   .bg-light-2,
//   .bg-light,
//   .b-investors,
//   .b-job-f__tags-item {
//     background-color: #f5f5f5 !important;
//   }

//   .slick-dots li button:hover:after,
//   .slick-dots li button:focus:after,
//   .slick-dots .slick-active button:after,
//   .bg-primary, .btn-primary, .ui-slider_dots_sm .slick-active button, .ui-accordion__link[aria-expanded="false"] .ic, .noUi-connect, .noUi-handle, .noUi-handle:before, .custom-control-input:checked ~ .custom-control-label:before, .b-modal-regions__nav .nav-link.active, .b-modal-regions__list-link.active:before, .b-modal-regions__list-link:hover:before,
//   .ui-accordion__link .ic,
//   .b-modal-regions__form-search input {
//     background-color: #555 !important;
//   }

//   .b-map-category__number,
//   .b-modal-regions__nav .nav-link.active {
//     color: #FFF !important;
//   }

//   .page-inner,
//   .datepicker table tr td.highlighted,
//   .header-top,
//   .slick-dots li button:after,
//   .ui-accordion__link .ic:before, .ui-accordion__link .ic:after {
//     background-color: #fff;
//   }

//   .header:not(.header_inner-page):after {
//     display: none;
//   }

//   .datepicker table tr td.today {
//     background-color: #fff;
//     background-image: none;
//   }

//   img {
//     filter: grayscale(100%);
//   }
//   a {
//     color: #222;
//     border-color: #0000ff;
//     text-decoration: underline;
//   }

//   svg {
//     fill: #555 !important;
//   }
//   .alert svg {
//     fill: #fff !important;
//   }

//   .btn {
//     color: #FFF !important;
//     background-color: #555;
//   }
//   .slick-dots li button {
//     background-color: #555;
//   }
//   .form-control {
//     @include placeholder {
//       color: #555;
//     }
//   }

//   .datepicker,
//   .form-control,
//   .map-popover {
//     background-color: #f5f5f5;
//   }
//   .datepicker-dropdown:after {
//     border-bottom-color: #f5f5f5;
//   }
// }



// html[data-color="black"] {
//   body,
//   .header .soc-link__link,
//   .gov-logo-dark .wrap-text .one,
//   .header__regions-trigger,
//   .b-invest-info__number,
//   .b-invest-info__info,
//   .header:not(.header_inner-page) .header-title__subtitle,
//   .header-slogan__title,
//   .b-invest-nav__info,
//   .b-welcome__categorie,
//   .b-project__inner,
//   .text-red,
//   .text-orange,
//   .ui-meta,
//   .footer__title,
//   .footer,
//   .footer .soc-link__link,
//   .header-news__title,
//   .header-slogan,
//   .b-post_row .b-post__info,
//   .header:not(.header_inner-page) .header-title__main,
//   .b-project_map .b-project__title,
//   .b-project_map .b-project-list,
//   .b-modal-regions__note,
//   .b-modal-regions__title,
//   .b-modal-regions__nav .nav-link,
//   .b-modal-regions .close,
//   .b-modal-regions__form-search input,
//   .gov-logo-light .wrap-text .light, .gov-logo-dark .wrap-text .light,
//   .b-card__title,
//   .b-card-descrip__title,
//   .b-link-files__title,
//   .b-card__note,
//   .breadcrumb-item.active,
//   .b-invest-info__footer,
//   .b-invest-info__total,
//   .b-investors__contact-link .ic,
//   .b-investors-list__title,
//   .b-invest-info__note,
//   .b-job__point,
//   .b-job-list__title,
//   .b-job-f-list__title,
//   .ui-upload__label,
//   .ui-input__label-content,
//   .b-login__note,
//   .b-invest-nav__title,
//   .ui-title,
//   .b-project__title,
//   .b-project-list,
//   .btn-link,
//   .ui-accordion__link,
//   .custom-control-label,
//   .noUi-tooltip,
//   .b-post__title,
//   .header_inner-page .main-menu__link,
//   .ui-title-page,
//   .header-user__title,
//   .btns-switch__item,
//   .b-investors__title,
//   .b-investors-list,
//   .b-job__text,
//   .b-job-list__info,
//   .b-job-f__tags-item,
//   .ui-upload__info,
//   .form-control {
//     color: #ccc !important;
//   }

//   .pagination a {
//     color: #1d1d1d !important;
//     .ic {
//       fill: #1d1d1d !important;
//     }
//   }

//   body,
//   .footer,
//   .header:not(.header_inner-page),
//   .b-project__inner,
//   .b-brand__inner,
//   .ui-accordion__link[aria-expanded="false"],
//   .custom-checkbox .custom-control-label::before,
//   .noUi-tooltip,
//   .b-modal-regions__main,
//   .b-post-f__blockquote,
//   .bg-light-2,
//   .bg-light,
//   .b-investors,
//   .b-job-f__tags-item {
//     background-color: #1d1d1d !important;
//   }

//   .slick-dots li button:hover:after,
//   .slick-dots li button:focus:after,
//   .slick-dots .slick-active button:after,
//   .bg-primary, .btn-primary, .ui-slider_dots_sm .slick-active button, .ui-accordion__link[aria-expanded="false"] .ic, .noUi-connect, .noUi-handle, .noUi-handle:before, .custom-control-input:checked ~ .custom-control-label:before, .b-modal-regions__list-link.active:before, .b-modal-regions__list-link:hover:before,
//   .ui-accordion__link .ic {
//     background-color: #ccc !important;
//   }

//   .b-map-category__number {
//     color: #000 !important;
//   }

//   .b-map-nav__link.active,
//   .b-modal-regions__nav .nav-link.active,
//   .b-modal-regions__list-link.active,
//   .btns-switch__item.active {
//     color: #FFF !important;
//   }

//   .datepicker table tr td.highlighted,
//   .b-invest-nav__item,
//   .header-top,
//   .ui-accordion__link .ic:before, .ui-accordion__link .ic:after,
//   .b-post_row,
//   .b-map-filter,
//   .ui-accordion__body,
//   .ui-accordion__link,
//   .header-user__body,
//   .b-modal-regions__nav .nav-link.active,
//   .b-modal-regions__form-search input,
//   .b-link-files,
//   .form-control {
//     background-color: #000;
//   }

//   .header:not(.header_inner-page):after {
//     display: none;
//   }

//   .datepicker table tr td.today {
//     background-color: #fff;
//     background-image: none;
//   }

//   img {
//     filter: grayscale(100%);
//   }
//   a {
//     color: #ccc;
//     border-color: #ccc;
//     text-decoration: underline;
//   }

//   svg {
//     fill: #ccc !important;
//   }
//   .alert svg {
//     fill: #1d1d1d !important;
//   }

//   .btn,
//   .comments-list .comment-label {
//     color: #1d1d1d;
//     background-color: #ccc;
//     border-color: #1d1d1d;
//   }
//   .btn .ic {
//     fill: #1d1d1d !important;
//   }
//   .form-control {
//     color: #1d1d1d;
//     @include placeholder {
//       color: #1d1d1d;
//     }
//   }

//   .datepicker,
//   .map-popover,
//   .slick-dots li button:after {
//     background-color: #f5f5f5;
//   }
//   .datepicker-dropdown:after {
//     border-bottom-color: #f5f5f5;
//   }

//   .bootstrap-select > .dropdown-toggle.bs-placeholder {
//     color: #1d1d1d;
//   }

//   .datepicker-dropdown:after {
//     border-bottom-color: #1d1d1d;
//   }
//   .footer {
//     border-top: 1px solid #ccc;
//   }
// }



// html[data-color="blue"] {

//   body,
//   .header .soc-link__link,
//   .gov-logo-dark .wrap-text .one,
//   .header__regions-trigger,
//   .b-invest-info__number,
//   .b-invest-info__info,
//   .header:not(.header_inner-page) .header-title__subtitle,
//   .header-slogan__title,
//   .b-invest-nav__info,
//   .b-welcome__categorie,
//   .b-project__inner,
//   .text-red,
//   .text-orange,
//   .ui-meta,
//   .footer__title,
//   .footer,
//   .footer .soc-link__link,
//   .header-news__title,
//   .header-slogan,
//   .b-post_row .b-post__info,
//   .header:not(.header_inner-page) .header-title__main,
//   .b-project_map .b-project__title,
//   .b-project_map .b-project-list,
//   .b-modal-regions__note,
//   .b-modal-regions__title,
//   .b-modal-regions__nav .nav-link,
//   .b-modal-regions .close,
//   .b-modal-regions__form-search input,
//   .gov-logo-light .wrap-text .light, .gov-logo-dark .wrap-text .light,
//   .b-card__title,
//   .b-card-descrip__title,
//   .b-link-files__title,
//   .b-card__note,
//   .breadcrumb-item.active,
//   .b-invest-info__footer,
//   .b-invest-info__total,
//   .b-investors__contact-link .ic,
//   .b-investors-list__title,
//   .b-invest-info__note,
//   .b-job__point,
//   .b-job-list__title,
//   .b-job-f-list__title,
//   .ui-upload__label,
//   .ui-input__label-content,
//   .b-login__note,
//   .b-invest-nav__title,
//   .ui-title,
//   .b-project__title,
//   .b-project-list,
//   .btn-link,
//   .ui-accordion__link,
//   .custom-control-label,
//   .b-post__title,
//   .header_inner-page .main-menu__link,
//   .ui-title-page,
//   .header-user__title,
//   .btns-switch__item,
//   .b-investors__title,
//   .b-investors-list,
//   .b-job__text,
//   .b-job-list__info,
//   .b-job-f__tags-item,
//   .ui-upload__info,
//   .form-control,
//   .ui-nav-default .nav-link {
//     color: #cc0 !important;
//   }

//   .pagination a,
//   .noUi-tooltip {
//     color: #06066b !important;
//     .ic {
//       fill: #06066b !important;
//     }
//   }

//   body,
//   .footer,
//   .header:not(.header_inner-page),
//   .b-project__inner,
//   .b-brand__inner,
//   .ui-accordion__link[aria-expanded="false"],
//   .custom-checkbox .custom-control-label::before,
//   .b-modal-regions__main,
//   .b-post-f__blockquote,
//   .bg-light-2,
//   .bg-light,
//   .b-investors,
//   .b-job-f__tags-item {
//     background-color: #06066b !important;
//   }

//   .slick-dots li button:hover:after,
//   .slick-dots li button:focus:after,
//   .slick-dots .slick-active button:after,
//   .bg-primary, .btn-primary, .ui-slider_dots_sm .slick-active button, .ui-accordion__link[aria-expanded="false"] .ic, .noUi-connect, .noUi-handle, .noUi-handle:before, .custom-control-input:checked ~ .custom-control-label:before, .b-modal-regions__list-link.active:before, .b-modal-regions__list-link:hover:before,
//   .ui-accordion__link .ic,
//   .noUi-tooltip {
//     background-color: #cc0 !important;
//   }

//   .b-map-category__number {
//     color: #000 !important;
//   }

//   .b-map-nav__link.active,
//   .b-modal-regions__nav .nav-link.active,
//   .b-modal-regions__list-link.active,
//   .btns-switch__item.active,
//   .ui-nav-default .nav-link.active {
//     color: #FFF !important;
//   }

//   .datepicker table tr td.highlighted,
//   .b-invest-nav__item,
//   .header-top,
//   .ui-accordion__link .ic:before, .ui-accordion__link .ic:after,
//   .b-post_row,
//   .b-map-filter,
//   .ui-accordion__body,
//   .ui-accordion__link,
//   .header-user__body,
//   .b-modal-regions__nav .nav-link.active,
//   .b-modal-regions__form-search input,
//   .b-link-files,
//   .form-control {
//     background-color: #070742;
//   }

//   .header:not(.header_inner-page):after {
//     display: none;
//   }

//   .datepicker table tr td.today {
//     background-color: #fff;
//     background-image: none;
//   }

//   img {
//     filter: grayscale(100%);
//   }
//   a {
//     color: #cc0;
//     border-color: #cc0;
//     text-decoration: underline;
//   }

//   svg {
//     fill: #cc0 !important;
//   }
//   .alert svg {
//     fill: #06066b !important;
//   }

//   .btn,
//   .comments-list .comment-label {
//     color: #06066b;
//     background-color: #cc0;
//     border-color: #06066b;
//   }
//   .btn .ic {
//     fill: #06066b !important;
//   }
//   .form-control {
//     color: #cc0;
//     @include placeholder {
//       color: #cc0;
//     }
//   }

//   .datepicker,
//   .map-popover,
//   .slick-dots li button:after {
//     background-color: #f5f5f5;
//   }
//   .datepicker-dropdown:after {
//     border-bottom-color: #f5f5f5;
//   }

//   .bootstrap-select > .dropdown-toggle.bs-placeholder {
//     color: #06066b;
//   }

//   .datepicker-dropdown:after {
//     border-bottom-color: #06066b;
//   }
//   .footer {
//     border-top: 1px solid #cc0;
//   }


// }


// html:not([data-color="default"]) {
//   .header-slogan__title {
//     text-shadow: none;
//   }
//   .b-invest-nav {
//     margin-top: 20px;
//   }
//   .header:not(.header_inner-page),
//   .b-brand__inner,
//   .bg-light-grad,
//   .b-welcome__info {
//     background: none;
//   }
//   .custom-control-label .badge,
//   .b-map-category__number,
//   .b-modal-regions__form-search input {
//     opacity: 1;
//   }
// }



// html[data-color="white"] a:focus,
// html[data-color="white"] a:target,
// html[data-color="white"] input:focus,
// html[data-color="white"] input:target,
// html[data-color="white"] select:focus,
// html[data-color="white"] select:target,
// html[data-color="white"] textarea:focus,
// html[data-color="white"] textarea:target,
// html[data-color="white"] button:focus,
// html[data-color="white"] button:target,
// html[data-color="white"] img:focus,
// html[data-color="white"] img:target,
// html[data-color="white"] [tabindex]:focus,
// html[data-color="white"] [tabindex]:target {
//   outline: 2px solid #0000ff !important;
// }

// html[data-color="black"] a:focus,
// html[data-color="black"] a:target,
// html[data-color="black"] input:focus,
// html[data-color="black"] input:target,
// html[data-color="black"] select:focus,
// html[data-color="black"] select:target,
// html[data-color="black"] textarea:focus,
// html[data-color="black"] textarea:target,
// html[data-color="black"] button:focus,
// html[data-color="black"] button:target,
// html[data-color="black"] img:focus,
// html[data-color="black"] img:target,
// html[data-color="black"] [tabindex]:focus,
// html[data-color="black"] [tabindex]:target {
//   outline: 2px solid #ccc !important;
// }

// html[data-color="blue"] a:focus,
// html[data-color="blue"] a:target,
// html[data-color="blue"] input:focus,
// html[data-color="blue"] input:target,
// html[data-color="blue"] select:focus,
// html[data-color="blue"] select:target,
// html[data-color="blue"] textarea:focus,
// html[data-color="blue"] textarea:target,
// html[data-color="blue"] button:focus,
// html[data-color="blue"] button:target,
// html[data-color="blue"] img:focus,
// html[data-color="blue"] img:target,
// html[data-color="blue"] [tabindex]:focus,
// html[data-color="blue"] [tabindex]:target {
//   outline: 2px solid #cc0 !important;
// }

// html[data-color="white"] a:focus,
// html[data-color="white"] a:target,
// html[data-color="white"] input:focus,
// html[data-color="white"] input:target,
// html[data-color="white"] select:focus,
// html[data-color="white"] select:target,
// html[data-color="white"] textarea:focus,
// html[data-color="white"] textarea:target,
// html[data-color="white"] button:focus,
// html[data-color="white"] button:target,
// html[data-color="white"] img:focus,
// html[data-color="white"] img:target,
// html[data-color="white"] [tabindex]:focus,
// html[data-color="white"] [tabindex]:target {
//   background-color: #fff02a !important;
// }

// html[data-color="black"] a:focus,
// html[data-color="black"] a:target,
// html[data-color="black"] input:focus,
// html[data-color="black"] input:target,
// html[data-color="black"] select:focus,
// html[data-color="black"] select:target,
// html[data-color="black"] textarea:focus,
// html[data-color="black"] textarea:target,
// html[data-color="black"] button:focus,
// html[data-color="black"] button:target,
// html[data-color="black"] img:focus,
// html[data-color="black"] img:target,
// html[data-color="black"] [tabindex]:focus,
// html[data-color="black"] [tabindex]:target {
//   background-color: #fff02a !important;
// }

// html[data-color="blue"] a:focus,
// html[data-color="blue"] a:target,
// html[data-color="blue"] input:focus,
// html[data-color="blue"] input:target,
// html[data-color="blue"] select:focus,
// html[data-color="blue"] select:target,
// html[data-color="blue"] textarea:focus,
// html[data-color="blue"] textarea:target,
// html[data-color="blue"] button:focus,
// html[data-color="blue"] button:target,
// html[data-color="blue"] img:focus,
// html[data-color="blue"] img:target,
// html[data-color="blue"] [tabindex]:focus,
// html[data-color="blue"] [tabindex]:target {
//   background-color: #fff02a !important;
// }

// html[data-color="white"] a:focus,
// html[data-color="white"] a:target,
// html[data-color="white"] input:focus,
// html[data-color="white"] input:target,
// html[data-color="white"] select:focus,
// html[data-color="white"] select:target,
// html[data-color="white"] textarea:focus,
// html[data-color="white"] textarea:target,
// html[data-color="white"] button:focus,
// html[data-color="white"] button:target,
// html[data-color="white"] img:focus,
// html[data-color="white"] img:target,
// html[data-color="white"] [tabindex]:focus,
// html[data-color="white"] [tabindex]:target {
//   color: #111 !important;
// }

// html[data-color="black"] a:focus,
// html[data-color="black"] a:target,
// html[data-color="black"] input:focus,
// html[data-color="black"] input:target,
// html[data-color="black"] select:focus,
// html[data-color="black"] select:target,
// html[data-color="black"] textarea:focus,
// html[data-color="black"] textarea:target,
// html[data-color="black"] button:focus,
// html[data-color="black"] button:target,
// html[data-color="black"] img:focus,
// html[data-color="black"] img:target,
// html[data-color="black"] [tabindex]:focus,
// html[data-color="black"] [tabindex]:target {
//   color: #111 !important;
// }

// html[data-color="blue"] a:focus,
// html[data-color="blue"] a:target,
// html[data-color="blue"] input:focus,
// html[data-color="blue"] input:target,
// html[data-color="blue"] select:focus,
// html[data-color="blue"] select:target,
// html[data-color="blue"] textarea:focus,
// html[data-color="blue"] textarea:target,
// html[data-color="blue"] button:focus,
// html[data-color="blue"] button:target,
// html[data-color="blue"] img:focus,
// html[data-color="blue"] img:target,
// html[data-color="blue"] [tabindex]:focus,
// html[data-color="blue"] [tabindex]:target {
//   color: #111 !important;
// }


// html:not([data-color="default"]) a:not([disabled]):not([aria-disabled="true"]):hover,
// html:not([data-color="default"]) [tabindex]:not([tabindex="-1"]):hover,
// html:not([data-color="default"]) button:not([disabled]):not([aria-disabled="true"]):hover {
//   outline: 2px solid #0000ff;
//   text-decoration: none;
//   cursor: pointer;
// }


// html[data-color="white"] a:not([disabled]):not([aria-disabled="true"]):hover,
// html[data-color="white"] [tabindex]:not([tabindex="-1"]):hover,
// html[data-color="white"] button:not([disabled]):not([aria-disabled="true"]):hover {
//   outline: 2px solid #0000ff;
// }

// html[data-color="black"] a:not([disabled]):not([aria-disabled="true"]):hover,
// html[data-color="black"] [tabindex]:not([tabindex="-1"]):hover,
// html[data-color="black"] button:not([disabled]):not([aria-disabled="true"]):hover {
//   outline: 2px solid #ccc;
// }

// html[data-color="blue"] a:not([disabled]):not([aria-disabled="true"]):hover,
// html[data-color="blue"] [tabindex]:not([tabindex="-1"]):hover,
// html[data-color="blue"] button:not([disabled]):not([aria-disabled="true"]):hover {
//   outline: 2px solid #cc0;
// }


// html[data-images="off"] img {
//   visibility: hidden;
// }
// html[data-images="off"] .header-logo__link img,
// html[data-images="off"] .footer-devel__img img,
// html[data-images="off"] .footer-logo img {
//   visibility: visible;
// }

// html[data-images="off"] *,
// html[data-images="off"] *:before,
// html[data-images="off"] *:after {
//   background-image: none !important;
// }


// html[data-kerning="big"] * {
//   letter-spacing: 0.1rem !important;
// }

// html[data-kerning="big"] select,
// html[data-kerning="big"] input,
// html[data-kerning="big"] button,
// html[data-kerning="big"] textarea {
//   letter-spacing: inherit !important;
// }


// [data-wcag="alternative-background"] {
//   background-color: #f5f5f5;
// }

// html[data-color="white"] [data-wcag="alternative-background"] {
//   background-color: #f5f5f5;
// }

// html[data-color="black"] [data-wcag="alternative-background"] {
//   background-color: #000;
// }

// html[data-color="blue"] [data-wcag="alternative-background"] {
//   background-color: #0c0c4e;
// }

// [aria-disabled="true"],
// [disabled] {
//   opacity: 0.6;
//   cursor: not-allowed;
// }

// [data-role="collapse"] [hidden] {
//   display: none;
// }




// html[data-color="white"] .alert {
//   background-color: #555 !important;
// }

// html[data-color="black"] .alert {
//   background-color: #fff !important;
// }

// html[data-color="blue"] .alert {
//   background-color: #cc0 !important;
// }

// html[data-color="white"] .alert {
//   color: #fff !important;
// }

// html[data-color="black"] .alert {
//   color: #1d1d1d !important;
// }

// html[data-color="blue"] .alert {
//   color: #06066b !important;
// }





// [role="tablist"] {
//   margin: 0;
//   padding: 0;
// }

// [role="tablist"] > [role="tab"] {
//   display: inline-block;
//   padding: 10px;
//   border: 1px solid;
//   border-bottom: none;
// }

// [role="tablist"] > [role="tab"][aria-selected="true"] {
//   padding-top: 13px;
//   border-bottom: 1px solid;
//   margin-bottom: -1px;
//   border-bottom-color: #fff;
//   background: #ffa !important;
//   color: #bf1722 !important;
// }

// html[data-color="white"] [role="tablist"] > [role="tab"][aria-selected="true"] {
//   border-bottom-color: #fff;
// }

// html[data-color="black"] [role="tablist"] > [role="tab"][aria-selected="true"] {
//   border-bottom-color: #1d1d1d;
// }

// html[data-color="blue"] [role="tablist"] > [role="tab"][aria-selected="true"] {
//   border-bottom-color: #06066b;
// }

// [role="tablist"] > [role="tab"][aria-selected="false"] {
//   background-color: #f5f5f5 !important;
// }

// html[data-color="white"] [role="tablist"] > [role="tab"][aria-selected="false"] {
//   background-color: #f5f5f5 !important;
// }

// html[data-color="black"] [role="tablist"] > [role="tab"][aria-selected="false"] {
//   background-color: #000 !important;
// }

// html[data-color="blue"] [role="tablist"] > [role="tab"][aria-selected="false"] {
//   background-color: #0c0c4e !important;
// }

// // [role="tabpanel"] {
// //   padding: 20px;
// //   border: 1px solid;
// // }

// // [role="tabpanel"][aria-hidden="true"] {
// //   display: none !important;
// // }




.wcag-panel {
  font-size: 18px;
  line-height: 24px;
  border-bottom: 1px solid rgba(107, 107, 107, 0.5);
  background-color: #e8e8e8 !important;
  z-index: 999;
  letter-spacing: normal;
  color: #000;
  padding-bottom: 50px;

  &__wrapper {
    margin: 0 auto;
    max-width: 980px;
    padding: 17px 0;
  }

  &__row {
    position: relative;
    &:not(:last-child) {
      margin-bottom: 15px;
    }
  }

  &__hidden-control {
    padding: 10px;
    a:not(:focus) {
      opacity: 0;
    }
  }

  &__col {
    display: inline-block;
    vertical-align: bottom;
    padding: 0 11px;
    &:first-child {
      padding-left: 0;
    }

    &:last-child {
      padding-right: 0;
    }

    @include media-breakpoint-down(sm) {
      display: block;
      margin-bottom: 10px;
    }
    &:first-child {
      padding-left: 11px;
    }

    &:last-child {
      padding-right: 11px;
    }
    &_cont-link {
      vertical-align: bottom;
      padding-bottom: 8px;
    }
  }


  &__settings {
    float: right;
    margin-top: 27px;
  }

  &__switcher {
    display: flex;
    border: 1px solid black !important;
    border-radius: 3px;
  }

  &__switcher-label {
    vertical-align: baseline;
    margin-bottom: 3px;
    display: block;
  }

  &__switcher-btn {
    padding: 0 10px;
    height: 38px;
    font-weight: normal;
    margin-bottom: 0;
    background-color: #fff;
    cursor: pointer;
    font-size: 18px;
    line-height: 38px;
    border: 0;
    display: inline-block;
    user-select: none;
    position: relative;
    &:not(:last-child) {
      border-right: 1px solid black;
    }
    &:focus {
      background: #000 !important;
      color: #fff !important;
      box-shadow: inset 0 0 0 2px #ffa;
    }
  }


  &__dropdown-toggle {
    position: relative;
    padding: 0 27px 0 10px;
    height: 36px;
    line-height: 36px;
    &:after {
      content: '';
      position: absolute;
      top: 50%;
      right: 10px;
      margin-top: -2px;
      width: 0;
      height: 0;
      border-left: 6px solid transparent;
      border-top: 5px solid black;
      border-right: 6px solid transparent;
    }
    &:focus:after {
      border-top-color: white;
    }
    &[aria-expanded="true"] {
      background: black;
      color: white;
      &:after {
        border-top: 0;
        border-bottom: 5px solid white;
      }
    }
  }


  &__dropdown {
    margin: 0;
    padding: 10px 0;
    box-sizing: border-box;
    width: 100%;
    font-size: 18px;
    text-align: left;
    list-style: none;
    background-color: #f3f3f3;
    background-clip: padding-box;
    border: 1px solid #ccc !important;
    outline: none !important;
    z-index: 1000;
  }

  &__flag-button {
    font-size: 18px;
    line-height: 38px;
    text-align: center;
    display: inline-block;
    user-select: none;
    margin-bottom: 0;
    &:not(:last-child) {
      margin-right: 7px;
    }
    &:focus {
      background: #000 !important;
      color: #fff !important;
      box-shadow: inset 0 0 0 2px #ffa;
    }
  }


  &__default-link {
    font-size: 18px;
    line-height: 20px;
    color: black !important;
    text-decoration: none !important;
    background: transparent;
    border-top: none;
    border-left: none;
    border-right: none;
    border-bottom-width: 1px;
    border-color: #0000FF !important;
  }

  &__default-link:focus {
    background: transparent !important;
    outline-color: #0000ff !important;
  }

  input[type="radio"],
  input[type="checkbox"] {

    position: absolute;
    left: -99999px;
  }

  input[type="radio"]:checked + &__switcher-btn,
  input[type="checkbox"]:checked + &__switcher-btn {
    color: white;
    background-color: black;
  }

  input[type="radio"]:focus + &__switcher-btn,
  input[type="checkbox"]:focus + &__switcher-btn {
    color: white;
    background: black;
    box-shadow: inset 0 0 0 2px #ffa;
    outline: 0;
  }


  .flag-button {
    position: relative;
    padding: 0 5px;
    height: 38px;
    border-radius: 3px;
    cursor: pointer;
    border: 1px solid #000 !important;

    &:before,
    &:after {
      display: none;
      content: '';
      position: absolute;
      top: -3px;
      left: calc(50% - 4px);
      width: 8px;
      height: 8px;
      background: #fe0d0d;
      border-radius: 50%;
    }

    &:after {
      bottom: -3px;
      top: auto;
    }

    &_white {
      background: #fff;
      color: #000;
    }

    &_black {
      color: #fff;
      background: #000;
    }

    &_blue {
      background: #0000ff;
      color: #ffff00;
    }
  }


  input:checked + .flag-button:before,
  input:checked + .flag-button:after {
    display: block;
  }

  input:focus + .flag-button {
    box-shadow: inset 0 0 0 2px #ffa;
    background: black;
    color: white;
  }

}


