mixin b-modal-gov()

  .modal.fade#modalGov(tabindex="-1" role="dialog" aria-labelledby="modalGovLabel" aria-hidden="true")
    .modal-dialog.modalGov(role="document")
      .wrap
        ul.wrap-link
          li
            a(href="#" target="_blank") Президент України
          li
            a(href="#" target="_blank")  Верховна Рада України

        ul.wrap-link
          li
            a(href="#" target="_blank") Конституційний суд України
          li
            a(href="#" target="_blank") Рада національної безпеки і оборони України
        ul.wrap-link
          li
            a(href="#" target="_blank") Центральні та місцеві органи виконавчої влади

        button.close(type="button" data-dismiss="modal" aria-label="Close")
          span(aria-hidden="true") &times;

  // end .b-modal-gov
  |
  |
