mixin b-reestr()

  section.b-reestr.section-default.bg-grad(class!=attributes.class)
    .container
      .row
        .col-xl-4.col-lg-5
          h2.ui-title Ще не зареєструвались?
          .b-reestr__info Що б ставити або отримувати оперативно завдання необхідно пройти швидку реєстрацію.


      form.b-reestr-form.needs-validation(novalidate)
        .row
          .col-lg-3.col-md-6
            .form-group
              select.selectpicker(data-width="100%" title="Район" multiple data-max-options="1" data-style="ui-select" required)
                option(value="") Район
                option(value="") Район
                option(value="") Район
                option(value="") Район
          .col-lg-3.col-md-6
            .form-group
              select.selectpicker(data-width="100%" title="Департамент" multiple data-max-options="1" data-style="ui-select" required)
                option(value="") Департамент
                option(value="") Департамент
                option(value="") Департамент
                option(value="") Департамент
          .col-lg-3.col-md-6
            .form-group
              select.selectpicker(data-width="100%" title="Управління" multiple data-max-options="1" data-style="ui-select" required)
                option(value="") Управління
                option(value="") Управління
                option(value="") Управління
                option(value="") Управління
          .col-lg-3.col-md-6
            .form-group
              select.selectpicker(data-width="100%" title="Відділ" multiple data-max-options="1" data-style="ui-select" required)
                option(value="") Відділ
                option(value="") Відділ
                option(value="") Відділ
                option(value="") Відділ

        .row
          .col-lg-3.col-md-6
            .form-group
              .ui-input
                label.ui-input__label(for="reestrDirector")
                  span.ui-input__label-content Ваш керівник
                input.ui-input__field.form-control#reestrDirector(type="text" required)
                .invalid-feedback Поле не заповненне
          .col-lg-3.col-md-6
            .form-group
              .ui-input
                label.ui-input__label(for="reestrPost")
                  span.ui-input__label-content Ваша посада
                input.ui-input__field.form-control#reestrPost(type="text" required)
                .invalid-feedback Поле не заповненне
          .col-lg-3.col-md-6
            .form-group
              .ui-input
                label.ui-input__label(for="reestrName")
                  span.ui-input__label-content Ваше ім`я
                input.ui-input__field.form-control#reestrName(type="text" required)
                .invalid-feedback Поле не заповненне
          .col-lg-3.col-md-6
            .form-group
              .ui-input
                label.ui-input__label(for="reestrSurname")
                  span.ui-input__label-content Ваше прізвище
                input.ui-input__field.form-control#reestrSurname(type="text" required)
                .invalid-feedback Поле не заповненне

        .b-reestr-form__footer.row
          .col-lg-4.offset-lg-5
            .b-reestr-form__info Тільки для державних службовців й працівників підприємств у комунальній власності

          .col-lg-3
            button.btn.btn-primary.w-100 Зареєструватися

  // end .b-reestr
  |
  |
