.b-reestr {
  margin-bottom: 70px;
  &__info {
    color: #848e99;
    font-size: 1.125rem;
    line-height: 1.625rem;
  }

  @include media-breakpoint-down(md) {
    margin-bottom: 0;

    .ui-title {
      width: 250px;
    }
  }
}

.b-reestr-form {
  margin-top: 80px;
  &__footer {
    margin-top: 15px;
  }
  &__info {
    color: #848e99;
    line-height: 1.5rem;
  }

  @include media-breakpoint-down(md) {
    margin-top: 30px;
    &__info {
      margin-bottom: 15px;
    }
  }
}
