mixin navig()
  ul.main-menu.navbar-nav
    li.main-menu__item.active
      a.main-menu__link(href="#") Головна
        span.sr-only (поточна)
    li.main-menu__item
      a.main-menu__link(href="#") Департаменти
    li.main-menu__item
      a.main-menu__link(href="#") Статистика
    li.main-menu__item
      a.main-menu__link(href="#") Таймлайн
    li.main-menu__item
      a.main-menu__link(href="#") Мої завдання


  // end navig
